---
import { TITLES } from '../constants/Titles';
---

<section id="about" class="py-20 px-4 md:px-20 bg-white">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">{TITLES.about}</h2>
    <div class="flex flex-col md:flex-row items-center gap-8">
     <!-- <div class="rounded-full border-4 flex items-center justify-center text-center border-primary w-100 h-45">

     </div> -->
      <div class="text-center">
        <p class="text-lg mb-4 text-gray-600">
          <b>Ingeniero de Sistemas</b> con cerca de 10 años de experiencia en la creación de aplicaciones modernas y dinámicas con JavaScript, TypeScript, React, Vue, Node.js, Astro, Redux, HTML y CSS. Apasionado por la innovación y la mejora continua, me especializo en desarrollar <b>interfaces intuitivas y eficientes, optimizando la experiencia del usuario</b>.
        </p><p class="text-lg mb-4 text-gray-600">Actualmente me desempeño como <b>Team Lead</b> en una de las más grandes consultoras de TI a nivel mundial, liderando equipos y proyectos estratégicos.</p>
        <p class="text-lg mb-4 text-gray-600">
          Además, tengo experiencia en la integración y optimización de <b>prompts de inteligencia artificial</b>. Siempre estoy explorando nuevas tecnologías para ofrecer soluciones escalables y de alto rendimiento.
        </p>

        
        <a
          href="/path-to-your-cv.pdf"
          download
          class="inline-block bg-primary text-white hover:bg-primary/90 transition-colors duration-300 rounded-full px-6 py-2 text-lg font-semibold"
        >
          Download CV
        </a>
      </div>
    </div>
  </div>
</section>

