---
import { Image } from "astro:assets";
import { TITLES } from "../constants/Titles";

const companies = [
  { name: "Essity", logo: "/essity-logo.avif" },
  { name: "Accenture", logo: "/accenture-logo.png" },
  { name: "Banco Itaú", logo: "/itau-logo.png" },
];
---

<section id="company-logos" class="py-16 px-4 md:px-20 bg-white">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">
      {TITLES.company}
    </h2>
    <div class="flex flex-wrap justify-center items-center gap-8">
      {
        companies.map((company) => (
          <div class="w-32 h-16 flex items-center justify-center">
            <Image
              src={company.logo || "/placeholder.svg"}
              alt={`${company.name} logo`}
              width={150}
              height={75}
              class="max-w-full max-h-full object-contain"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
