---
const {year,title, company, description} = Astro.props;
---

<div class="flex items-center space-x-4">
          <div class="flex-shrink-0 w-24 text-right">
            <span class="text-primary font-bold">{year}</span>
          </div>
          <div class="w-2 h-2 rounded-full bg-primary"></div>
          <div class="flex-grow">
            <h3 class="text-lg font-semibold text-gray-800">{title}</h3>
            <p class="text-gray-600">{company}</p>
            <p class="text-sm text-gray-500">{description}</p>
          </div>
        </div>