---
// import { Image } from 'astro:assets';
---
<section class="h-[calc(100vh-100px)] flex items-center justify-center text-center px-6 bg-cover bg-no-repeat bg-center" style={{
    backgroundImage: `url(${encodeURI(
      "https://astro.build/_astro/final-cta.-VPcghul_Z18Stfo.webp"
    )})`,
  }}>
        <div class="max-w-3xl">
            <h1 class="text-5xl md:text-6xl font-extrabold mb-6 text-gray-300">Explorando el Universo del <span class="text-white">Desarrollo Web</span></h1>
            <p class="text-lg text-gray-300 mb-6">Soy un desarrollador web apasionado por crear experiencias interactivas fuera de este mundo.</p>
            <a href="#projects" class="bg-primary hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-lg transition">Ver Proyectos</a>
        </div>
    <!-- </section>
<section
  id="hero"
  class="h-screen flex items-center justify-center bg-fixed bg-cover bg-center relative"
  style={{
    backgroundImage: `url(${encodeURI(
      "https://astroplate.netlify.app/_astro/banner.BMwzPDc-_ZWpPy3.webp"
    )})`,
  }}
>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative z-10 text-center">
    <h1 class="text-5xl font-bold mb-4 animate-fade-in-down text-white">John Doe</h1>
    <h2 class="text-3xl font-bold mb-4 animate-fade-in-down text-white">Front-end Developer</h2>
    <p class="text-xl mb-8 text-gray-200 animate-fade-in-up">
      Crafting digital experiences with JavaScript, HTML, and CSS
    </p>
    <a
      href="#projects"
      class="inline-block bg-primary text-white hover:bg-primary/90 transition-colors duration-300 animate-fade-in-up rounded-full px-8 py-3 text-lg font-semibold"
    >
      View My Work
    </a>
  </div>-->
</section> 

<script>
  const heroSection = document.getElementById('hero');
  
  window.addEventListener('scroll', () => {
    if (heroSection) {
      const scrollPosition = window.scrollY;
      heroSection.style.backgroundPositionY = `${scrollPosition * 0.5}px`;
    }
  });
</script>

